app = "rsshub-leehskid"

[env]
  HOST = "0.0.0.0"
  PORT = "1200"

[http_service]
  internal_port = 1200
  force_https = true
  auto_stop_machines = true 
  auto_start_machines = true
  min_machines_running = 0 

[[http_service.checks]]
  grace_period = "10s"
  interval = "30s"
  method = "GET"
  timeout = "5s"
  path = "/"
